# Default ignored files
/shelf/
/workspace.xml


# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore the entire .idea directory
.idea/

# Ignore the Movie-Recommendations projects ipynb files
Movie-Recommendations/.ipynb_checkpoints/
